node_modules/

.expo/
dist/
.web/
expo-env.d.ts

.env
.env.local
.env.*.local

android/
ios/

*.apk
*.aab
*.ipa
android/build/
ios/build/
bin/
obj/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

.DS_Store
Thumbs.db